@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Abel');

html{
height: 100%;
width: 100%;
--black: #000000;
--white: #ffffff;
--darkest: #101010;
--darker: #16171A;
--dark: #A3AFBF;
--medium: #DFE7EF;
--light: #CAD4E1;
--lighter: #F5F8FC;
--lightest: var(--white);

/* neon colors */
--navy: #211951;
--purple: #836FFF;
--mint: #15F5BA;
--mandarin: #EC7744;
--light-grey: #F0F3FF;
--weird: rgb(209, 178, 141);
--primary: #7B16FF;
--primary-light: #DDD9FF;
--primary-dark: rgba(123,22,255,0.4);

--yellow: #FDCB6E;
--orange: #E17055;
--teal: #138972;
--bg: var(--black);
--color: var(--lightest);
--surface: var(--darker);

--header-font: 'Alegreya';
--subtitle-font: 'Alegreya';
--body-font: 'Andika';
overflow-x: hidden;
 }




 header * {
  margin: .2em;

}
p{
  color:white;
}

body{
  margin: 0;
  height: 50%;
  background-image: url('/static/images/image.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2{
  font-size:50px;
  color: rgb(229, 182, 122);
}
h4{
  font-size: 30px;
  color:rgb(209, 178, 141);
}


#home h1{
  font-size: 60px;
  text-align: center;
  color: rgb(209, 178, 141);
  font-weight: bolder;
}
#home h2{
  font-size: 48px;
  text-align: center;
  color: rgb(246, 212, 172);
  font-weight: bolder;
}
#home h3{
  font-size: 36px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--medium);
  margin: auto 5% auto 5%;
  font-weight: bolder;
}



nav{
  text-align: center;
}


nav li
 {
  display: inline;
}


.header-nav-buttons {
  display: inline-flex;
  gap: 20px;
  flex-wrap: wrap;
  
}
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.startButton button {
  margin-left: -25px;
  background: none;
  margin-bottom: 50px;
  border: none;
  cursor: pointer;
}

.startButton button img {
  margin-bottom: 50px;
  display: block;
  width: auto;
  height: auto;
  border-radius: 100%;
}
.startButton button img:hover{
  background-color: white;
}


.header-nav-buttons button{
  font-size: 1.2rem;
  transition: all 0.5s;
  font-family: var(--body-font);
  font-weight: bolder;
  
  border: transparent;
  border-radius: 10px;
  color: var(--white);
  padding: 0.6rem;
  background: none;
  cursor:pointer;
}
.header-nav-buttons button:hover {
  /*border: 1px solid var(--purple);
  transition: all 0.5s;
  background-color: var(--purple);
  color: var(--white);
  padding: 1rem;*/
  color: var(--weird);
}




/* SOCIAL MEDIA BAR SECTION*/

.socialMedia{
  display: flex;
  justify-content: center;
  align-items: center;

}
.socialMedia .mailIcon {
  background-image: url('/static/images/mail.png');
  background-size: contain; /* Ensure the image fits within the div */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 2.5rem;
  width: 2.5rem;
  color: #fff !important;
  border-radius: 100%;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}
.mailIcon:hover{
  background-color: white;
}
.socialMedia .githubIcon{
  background-image: url('/static/images/github.png');
  background-size: contain; /* Ensure the image fits within the div */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 2.5rem;
  width: 2.5rem;
  color: #fff !important;
  border-radius: 100%;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}
.githubIcon:hover{
  background-color: white;
}
.socialMedia .linkedinIcon{
  background-image: url('/static/images/ln.png');
  background-size: contain; /* Ensure the image fits within the div */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 2.5rem;
  width: 2.5rem;
  color: #fff !important;
  border-radius: 100%;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}
.linkedinIcon:hover{
  background-color: white;
}





/* ABOUT SECTION */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.about-container {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.about-container p{
  color:#000000;
}

.content {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  margin-bottom: 20px;
}

.image-container {
  width: 150px; /* Adjust the size as needed */
  height: 150px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden; /* Ensures no parts of the image overflow */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px; /* Space between the image and text */
}

.image-container img {
  width: 100%; /* Ensures the image covers the entire width of the circle */
  height: 100%; /* Ensures the image covers the entire height of the circle */
  object-fit: cover; /* Ensures the image covers the circle without distortion */
}

.text-content {
  flex: 1;
  text-align: left;
}

.text-content h4, .text-content p, .text-content h5, .text-content ul {
  margin: 10px 0;
}

.text-content ul {
  list-style-type: none;
  padding: 0;
}

.text-content ul li {
  margin-bottom: 10px;
}

.skills-section {
  text-align: left;
}

.skills-section h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.skills-section p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.skills-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.skill-name {
  flex: 1;
  text-align: left;
  font-size: 16px;
  color: #333;
}

.progress-bar {
  flex: 3; /* Adjust the size as needed */
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 15px;
  height: 20px;
  position: relative; /* Added for relative positioning */
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.4s ease;
  position: absolute; /* Positioning the progress bar absolutely */
  top: 0;
  left: 0;
}





/* PROJECTS SECTION */
#projects {
  border-top: 1px solid var(--medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.projectList {
  font-family: 'Roboto Mono', monospace;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
}

.projectItem {
  background-color: #ffffff;
  border-radius: 13px;
  border: 2px solid #2d2525;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative; /* Added to allow absolute positioning of the button */
}

.projectImage {
  height: 17vh;
  width: 17vh;
  position: relative;
  margin: auto;
  border-radius: 30%;
  object-fit: cover;
  margin-right: 20px;
}

.projectInfo {
  flex: 1;
  position: relative; /* Added to allow absolute positioning of the button */
}

.projectInfo h3 {
  color: rgb(78, 74, 74);
  margin-top: 0;
  font-size: 20px;
}

.projectInfo p {
  color: #000000;
  margin: 15px 0;
  font-size: small;
}

.github-button {
  position: absolute;
  top: 95%;
  left: 90%;
  width: 32px; /* Set the size for the button */
  height: 32px; /* Set the size for the button */
  background-image: url('/static/images/github.png'); /* Path to your GitHub icon */
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
.github-button:hover{
  background-color: rgb(171, 169, 169);
}

.showMore {
  font-size: 1.2rem;
  transition: all 0.5s;
  font-family: var(--body-font);
  font-weight: bolder;
  padding-top: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: solid;
  border-radius: 10px;
  color: var(--white);
  padding: 0.5rem;
  background: none;
  cursor: pointer;
}

.showMore:hover {
  background-color: rgb(209, 178, 141);
}






/* CONTACT ME SECTION */

#contact {
  border-top: 1px solid var(--medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: yellow;
}


/* FOOTER SECTION */
#footer{
  border-radius:10px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 250px;
}
footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid var(--medium);
  margin: auto 15% auto 15%;
  color: white;
  font-weight: bolder;
}

.endButton{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: -8px;
}
.endButton button {
  background: none;
  border: none;
  cursor: pointer;
}

.endButton button img {
  display: block;
  width: auto;
  height: auto;
  border-radius: 100%;
}
.endButton button img:hover{
  background-color: white;
}